html {
  position: relative;
  min-height: 100%;
}

@font-face{ 
	font-family: 'Argent CF';
	font-weight: 200;
	src: url('fonts/argent-cf-light.eot');
	src: url('fonts/argent-cf-light.eot?#iefix') format('embedded-opentype'),
	     url('fonts/argent-cf-light.woff') format('woff'),
	     url('fonts/argent-cf-light.ttf') format('truetype'),
	     url('fonts/argent-cf-light.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Argent CF';
	font-weight: 400;
	src: url('fonts/argent-cf.eot');
	src: url('fonts/argent-cf.eot?#iefix') format('embedded-opentype'),
	     url('fonts/argent-cf.woff') format('woff'),
	     url('fonts/argent-cf.ttf') format('truetype'),
	     url('fonts/argent-cf.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Argent CF';
	font-weight: 600;
	src: url('fonts/argent-cf-demi-bold.eot');
	src: url('fonts/argent-cf-demi-bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/argent-cf-demi-bold.woff') format('woff'),
	     url('fonts/argent-cf-demi-bold.ttf') format('truetype'),
	     url('fonts/argent-cf-demi-bold.svg#webfont') format('svg');
}

body {
  font-family: 'Argent CF', serif;
  line-height: 150%;
  background: #e5e5e5;
  width: 100%;
  margin: 0 auto;
  color: #000;
}

a {
  box-shadow: inset 0 -1px 0 #e5e5e5, inset 0 -3px 0 #ff345a;
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: #ff345a;
}

h1 {
  font-size: 2em;
  font-family: 'Argent CF', serif;
  font-weight: 400;
  line-height: 150%;
}

@media only screen and (max-width: 900px) {h1 {font-size: 1.6em;}}
@media only screen and (max-width: 500px) {h1 {font-size: 1.2em;}}

#intro {
  max-width: 900px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 8px;
  padding-top: 30px;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 900px) {#intro {max-width: 720px;}}
@media only screen and (max-width: 500px) {#intro {max-width: 450px;}}

#footer {
  max-width: 900px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 8px;
  display: block;
  margin: auto;
  font-size: 1em;
}

@media only screen and (max-width: 900px) {footer {font-size: 0.9em;}}
@media only screen and (max-width: 500px) {footer {font-size: 0.8em;}}

#logo {
  width: 80px;
  height: 100%;
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 900px) {#logo {width: 45px;}}
@media only screen and (max-width: 500px) {#logo {width: 35px;}}

#headerBar {
  height: 7px;
  width: 100%;
  background-color: #000;
}

textarea {
  resize: vertical; }
