html {
  position: relative;
  min-height: 100%;
}

@font-face{ 
	font-family: 'Averta';
	src: url('fonts/averta-regular-webfont.eot');
	src: url('fonts/averta-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/averta-regular-webfont.woff') format('woff'),
	     url('fonts/averta-regular-webfont.ttf') format('truetype'),
	     url('fonts/averta-regular-webfont.svg#webfont') format('svg');
}

body {
  font-family: 'Averta', sans-serif;
  line-height: 150%;
  background: #000;
  position: relative;
  margin: 0;
  padding: 8px;
}


h1 {
  font-size: 2em;
  font-family: 'Averta', sans-serif;
  line-height: 150%;
}

@media only screen and (max-width: 900px) {h1 {font-size: 1.6em;}}
@media only screen and (max-width: 500px) {h1 {font-size: 1.2em;}}

h2 {
  font-size: 1.4em;
  font-family: 'Averta', sans-serif;
  line-height: 150%;
  max-width: 600px;
}

@media only screen and (max-width: 900px) {h2 {font-size: 1.1em; max-width: 500px;}}
@media only screen and (max-width: 500px) {h2 {font-size: 0.8em; max-width: 300px;}}

#intro {
  background: #F7F0F2;
  height: 100vh;
  position: fixed;
  width: calc(100% - 16px);
  z-index: 1;
}

#introsec {
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 900px;
}

@media only screen and (max-width: 900px) {introsec {max-width: 720px;}}
@media only screen and (max-width: 500px) {introsec {max-width: 450px;}}

#introtext {
  padding-top: 5px;
  padding-left: 120px;
  color: #000;
}

@media only screen and (max-width: 900px) {#introtext {padding-left: 70px;}}
@media only screen and (max-width: 500px) {#introtext {padding-left: 50px;}}

#logo {
  width: 60px;
  height: 100%;
  float: left;
}

@media only screen and (max-width: 900px) {#logo {width: 45px;}}
@media only screen and (max-width: 500px) {#logo {width: 35px;}}

#health {
  background: #FF3859;
  height: 110vh;
  position: relative;
  z-index: 2;
  margin-top: 100vh;
}

#healthsec {
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 900px;
}

@media only screen and (max-width: 900px) {healthsec {max-width: 720px;}}
@media only screen and (max-width: 500px) {healthsec {max-width: 450px;}}

#healthtext {
  padding-top: 5px;
  padding-left: 120px;
  color: #F7F0F2;
}

@media only screen and (max-width: 900px) {#healthtext {padding-left: 70px;}}
@media only screen and (max-width: 500px) {#healthtext {padding-left: 50px;}}

#info {
  background: #000;
  padding: 60px;
  position: relative;
  z-index: 2;
}

#infosec {
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 900px;
}

@media only screen and (max-width: 900px) {infosec {max-width: 720px;}}
@media only screen and (max-width: 500px) {infosec {max-width: 450px;}}

#infotext {
  padding-top: 5px;
  padding-left: 120px;
  color: #F7F0F2;
}

@media only screen and (max-width: 900px) {#infotext {padding-left: 70px;}}
@media only screen and (max-width: 500px) {#infotext {padding-left: 50px;}}

textarea {
  resize: vertical; }
