html {
  position: relative;
  min-height: 100%;
}

@font-face{ 
	font-family: 'Averta';
	weight: 400;
	src: url('fonts/averta-regular-webfont.eot');
	src: url('fonts/averta-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/averta-regular-webfont.woff') format('woff'),
	     url('fonts/averta-regular-webfont.ttf') format('truetype'),
	     url('fonts/averta-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Averta';
	weight: 200;
	src: url('fonts/averta-light-webfont.eot');
	src: url('fonts/averta-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/averta-light-webfont.woff') format('woff'),
	     url('fonts/averta-light-webfont.ttf') format('truetype'),
	     url('fonts/averta-light-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Averta';
	weight: 600;
	src: url('fonts/averta-semibold-webfont.eot');
	src: url('fonts/averta-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/averta-semibold-webfont.woff') format('woff'),
	     url('fonts/averta-semibold-webfont.ttf') format('truetype'),
	     url('fonts/averta-semibold-webfont.svg#webfont') format('svg');
}

body {
  font-family: 'Averta', sans-serif;
  line-height: 150%;
  background: #e5e5e5;
  position: relative;
  margin: 0;
  padding-top: 8px;
}

a {
  box-shadow: inset 0 -3px 0 #e5e5e5, inset 0 -4px 0 #ff345a;
  color: inherit;
  font-weight: 200;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-family: 'Averta', sans-serif;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: 1px;
}

@media only screen and (max-width: 900px) {h1 {font-size: 1.6em;}}
@media only screen and (max-width: 500px) {h1 {font-size: 1.2em;}}

h2 {
  font-size: 1.4em;
  font-family: 'Averta', sans-serif;
  line-height: 150%;
  max-width: 600px;
}

@media only screen and (max-width: 900px) {h2 {font-size: 1.1em; max-width: 500px;}}
@media only screen and (max-width: 500px) {h2 {font-size: 0.8em; max-width: 300px;}}

#intro {
  background: #e5e5e5;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-bottom: 8px;
}

#introsec {
  margin: 0 auto;
  padding-top: 2vh;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 900px;
}

@media only screen and (max-width: 900px) {#introsec {max-width: 720px;}}
@media only screen and (max-width: 500px) {#introsec {max-width: 450px;}}

#introtext {
  color: #000;
}

@media only screen and (max-width: 900px) {#introtext {padding-left: 70px;}}
@media only screen and (max-width: 500px) {#introtext {padding-left: 50px;}}

#logo {
  width: 60px;
  height: 100%;
}

@media only screen and (max-width: 900px) {#logo {width: 45px;}}
@media only screen and (max-width: 500px) {#logo {width: 35px;}}

#logowhite {
  fill: #FFF;
  width: 60px;
  height: 100%;
  float: left;
}

@media only screen and (max-width: 900px) {#logowhite {width: 45px;}}
@media only screen and (max-width: 500px) {#logowhite {width: 35px;}}

#health {
  background: #FF3859;
  height: 88vh;
  position: relative;
  z-index: 2;
  margin-top: 100vh;
  padding-bottom: 8px;
}

#healthsec {
  margin: 0 auto;
  padding-top: calc(2vh + 8px);
  padding-left: 15%;
  padding-right: 15%;
  max-width: 900px;
}

@media only screen and (max-width: 900px) {#healthsec {max-width: 720px;}}
@media only screen and (max-width: 500px) {#healthsec {max-width: 450px;}}

#healthtext {
  padding-left: 120px;
  color: #F7F0F2;
}

@media only screen and (max-width: 900px) {#healthtext {padding-left: 70px;}}
@media only screen and (max-width: 500px) {#healthtext {padding-left: 50px;}}

#info {
  background: #000;
  height: 12vh;
  position: relative;
  z-index: 2;
}

#infosec {
  margin: 0 auto;
  padding-top: 2vh;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 900px;
}

@media only screen and (max-width: 900px) {#infosec {max-width: 720px;}}
@media only screen and (max-width: 500px) {#infosec {max-width: 450px;}}

#infotext {
  padding-left: 120px;
  color: #F7F0F2;
}

@media only screen and (max-width: 900px) {#infotext {padding-left: 70px;}}
@media only screen and (max-width: 500px) {#infotext {padding-left: 50px;}}

textarea {
  resize: vertical; }
