html {
  position: relative;
  min-height: 100%;
}

@font-face{ 
	font-family: 'Averta';
	src: url('fonts/averta-regular-webfont.eot');
	src: url('fonts/averta-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/averta-regular-webfont.woff') format('woff'),
	     url('fonts/averta-regular-webfont.ttf') format('truetype'),
	     url('fonts/averta-regular-webfont.svg#webfont') format('svg');
}

body {
  font-size: 2em;
  font-family: 'Averta', sans-serif;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 900px;
}

#intro {
  width: 100%;
  height: 100%;
  background: #F7F0F2;
}

@media only screen and (max-width: 900px) {body {font-size: 1.5em; max-width: 720px;}}
@media only screen and (max-width: 500px) {body {font-size: 1.2em; max-width: 450px;}}

#introtext {
  padding-top: 5px;
  padding-left: 120px;
}

@media only screen and (max-width: 900px) {#introtext {padding-left: 70px;}}
@media only screen and (max-width: 500px) {#introtext {padding-left: 50px;}}

#logo {
  width: 60px;
  height: 100%;
  float: left;
}

@media only screen and (max-width: 900px) {#logo {width: 45px;}}
@media only screen and (max-width: 500px) {#logo {width: 35px;}}

textarea {
  resize: vertical; }
