html {
  position: relative;
  min-height: 100%;
}

@font-face{ 
	font-family: 'Averta';
	src: url('fonts/averta-regular-webfont.eot');
	src: url('fonts/averta-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/averta-regular-webfont.woff') format('woff'),
	     url('fonts/averta-regular-webfont.ttf') format('truetype'),
	     url('fonts/averta-regular-webfont.svg#webfont') format('svg');
}

body {
  background: #FFD6DD;
  font-size: 24px;
  font-family: 'Averta', sans-serif;
  margin: 30px 20% 0 20%;
}

@media only screen and (max-width: 900px) {body {font-size: 28px; max-width: 900px;}}
@media only screen and (max-width: 500px) {body {font-size: 20px; max-width: 500px;}}

textarea {
  resize: vertical; }
